<div class="w-full h-auto border border-gray-200 p-2 rounded-lg mb-4">
  <div class="w-full h-auto flex">
    <div class="w-full h-auto mr-4 bg-gray-600">
      <img class="w-full h-full" src="./assets/foto/personaje.jpg" alt="">
    </div>
    <div class="w-full h-24 font-sans">
      <p class="font-bold">{{item.name}} </p>
      <p class="font-semibold">color de ojos: {{item.eye_color}} </p>
      <p class="font-medium">{{item.gender}} </p>
    </div>
  </div>
  <div class="w-full h-auto mt-4">
    <p class="font-semibold">Lista de peliculas </p>
  
      <li class="list-decimal" *ngFor="let film of item.films ">{{film   | pipefilms | async }}</li>
    
  </div>
</div>
